<h1 class='fonted-main'>Sobre o site</h1>
<p class="fonted-alt big-text">
A premissa do nosso site é muito simples. Empresas e alunos, que buscam
soluções criativas para seus problemas e dinâmicas, encontram no site
estudantes de todas as áreas do conhecimento, num proveitoso sistema de
micro consultoria, que se torna cada vez mais comum na internet. A cada
resposta é associada uma nota, atríbuida pelo usuário que fez a pergunta
e cada perfil apresenta a média aritmética das respotas. Por isso,
cada usuário se empenhará ao máximo em suas respostas.
</p>
