<div class="jumbotron text-center">
  <h1 class="text-center">LOGO</h1>
  <h3>Procura respostas pra suas perguntas?</h3>
  <p>Encontre aqui pessoas com soluções criativas!</p>
  <%= link_to 'Mais', about_path, class: "btn btn-primary btn-lg" %>
</div>
