<style media="screen">
  .fonted-main{
    color: black;
  }
</style>

<div class="jumbotron text-center fonted-main">
  <h1>LOGO</h1>
  <h3>Procura respostas pra suas perguntas?</h3>
  <h4>Encontre aqui pessoas com soluções criativas!</h4>
  <br>
  <%= render 'form' %>
</div>
