<p id="notice"><%= notice %></p>
<%= render 'search' %>
<h1>Usuários</h1>

<% @users.each do |user| %>
  <div class="row">
    <h3 class="col-xs-8"><%= user.name %></h3>
    <%= link_to 'Show', user, class: "btn btn-default col-xs-4" %>
  </div>
  <hr>
<% end %>
