<h1>Home</h1>
<%= link_to 'Perfil', user_path(current_user) %>
<%= link_to 'Perguntas', questions_path %>
<%= link_to 'Nova Pergunta', new_question_path %>
<%= link_to "Log out", logout_path, method: "delete" %>
